.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Shared Style */
.btn{
    background-color: #469165;
    text-align: center;
    border: none;
}

/* Main style */
nav{
    width: 78%;
    max-width: 1140px;
    color: #FFFFFF;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}
nav .logo{
    width: 139px;
    margin: 16px 120px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

nav .btn{
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
}
nav .btn a{
    text-decoration: none;
}

#banner{
    padding-top: 25px;
    background: url(image/hero-bg.png);
    background-repeat: no-repeat;
}
#banner .banner-container{
    width: 78%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 115px 120px 180px 120px;
    text-align: center;

}
.circle-button{
    display: flex;
    margin: 0 auto;
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
    background-color: #FFFFFF;
    color: #469165;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.content h1{
    font-size: 300px;
    font-weight: bold;
    line-height: 84px;
    letter-spacing: 0%;
}
.first-line{
    font-size: 50px;
    line-height: 10px;
    color: #FFFFFF;
    display: block;
}
.sec-line{
    font-size: 50px;
    line-height: 10px;
    color: #30B868;
    display: block;
}

.content p{
    margin: 0 auto;
    width: 78%;
    max-width: 1140px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 16px;
    text-wrap: balance;
}

.banner-button{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 48px;
}

.first-button{
    display: flex;
    gap: 10px;
    padding: 12px 16px;
    align-items: center;
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #469165;
    color: #FFFFFF;
    border:none;
}

.sec-button{
    display: flex;
    gap: 10px;
    padding: 16px 16px 16px 46px;
    align-items: center;
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff00;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

#features{
    padding-top: 0px;
    text-align: center;
}

.container{
    width: 78%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;

}
.heading h2{
    max-width: 1360px;
    font-size: 48px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
.heading p{
    font-size: 16px;
    line-height: 20px;
    gap: 16px;
    text-align: center;
    margin-bottom: 44px;
}
.feature-box{
    display: flex;
    gap: 24px;
}
.card{
    padding: 70px 24px;
    max-width: 322px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f7f6f2bc;
    box-shadow: 0 0px 8px 0 #00000027;
}
.card img{
    max-width: 60px;
    margin-bottom: 16px;

}
.card h3{
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
}

#info{
    padding: 120px;
}
.info-container{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
}
.info-photo{
    max-width: 600px;
    height: 600px;
}
.info-content{
    padding: 102px 0px 102px;
}
.info-content h4{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500px;
    color: #469165;
    
}
.info-content h2{
    font-size: 35px;
    font-weight: bold;
    color: #001931;
}
.info-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.info-content ul{
    padding-left: 0;
    margin: 0 auto;
    margin-top: 40px;
}
.info-content li{
    list-style-type: none;
    display: flex;
    align-items: start;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500px;
    gap: 16px;
    margin-bottom: 15px;
}
.info-content li img{
     width: 20px;
     height: 20px;
     object-fit: contain;
}

#enroll{
    padding: 80px 20px;
}
.enroll-container{
    padding: 80px 20px;
    margin: 2px 120px 120px 120px;
    background-color: #F7F6F2;
    align-items: center;
    text-align: center;
}

.enroll-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}

.enroll-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.enroll-container button{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
}
.enroll-container button img{
    height: 16px;
    width: auto;
}
.enroll-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

footer{
     margin: 0 auto;
    background-color: #001931;
}
footer .container{
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container img{
    max-width: 139px;
    height: 60px;
}
footer .icon{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500px;
    color: #FFFFFF;
}
footer .copy{
    margin-top: 120px;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
}